<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot WebSocket</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />

    <!-- https://cdnjs.com/libraries/sockjs-client -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <!-- https://cdnjs.com/libraries/stomp.js/ -->
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</head>
<body>
<div id="chat-container">

    <div class="user-container">
        <span id="username" th:utext="${username}"></span>
        <a th:href="@{/logout}">Выйти</a>
    </div>
    <h3>The Biber Project</h3>
<br>
    <div>
        <h2>Онлайн:</h2>
        <ul>
            <li th:each="item : ${users}" th:text="${item}">Item description here...</li>
        </ul>
    </div>
    <div>
        <h2>Введите сообщение</h2>
        <form id="loginForm"    name="loginForm" method="POST">
            <input type="text"  name="username"/>
            <button type="submit">Отправить</button>


        </form>
    </div>
</div>



</body>
</html>